cffi
numpy
pandas
sklearn
matplotlib
seaborn
jupyter
h5py
ipykernel
ipython
ipdb
six
cython
bokeh
boto3
pillow
requests
urllib3
awscli
scipy
scikit-image
git+https://github.com/fchollet/keras.git
tensorflow-gpu
keras